server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
              - "http://localhost:5173"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

      routes:

        # IAM public paths
        - id: iam-public
          uri: lb://msvc-iam
          predicates:
            - Path=/api/v1/authentication/**
          filters:
            - StripPrefix=1

        # IAM secure
        - id: iam-secure
          uri: lb://msvc-iam
          predicates:
            - Path=/api/v1/users/**,/api/v1/roles/**
          filters:
            - JwtAuthenticationFilter

        # Bills
        - id: bills
          uri: lb://msvc-bills
          predicates:
            - Path=/api/v1/bills/**
          filters:
            - JwtAuthenticationFilter

        # Households
        - id: households
          uri: lb://msvc-households
          predicates:
            - Path=/api/v1/households/**
          filters:
            - JwtAuthenticationFilter

        # Household Members
        - id: household-members
          uri: lb://msvc-households
          predicates:
            - Path=/api/v1/household-members/**
          filters:
            - JwtAuthenticationFilter

        # Contributions
        - id: contributions
          uri: lb://msvc-contributions
          predicates:
            - Path=/api/v1/contributions/**,/api/v1/member-contributions/**
          filters:
            - JwtAuthenticationFilter

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

jwt:
  secret: "mysupersecretkeythatshouldbeatleast32chars"
  expiration: 86400000

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.fiscalliance.gateway.filters: DEBUG
